<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="y_predict class=y_predict"></section>
<form action="{{ url_for(y_predict) }}" method = "post">
<form action="/y_predict" method="post">
    AGE<input type="number" id="age" >
    GENDER<input type="number" id="gender" >
    STREAMS<input type="number" id="stream" >
    INTERNS<input type="number" id="interns" >
    CGPA<input type="number" id="cgpa" >
    Backlog<input type="number" id="backlog" >
    <button type="submit" value="submit">submit</button>
</form>
</form>
</section>
</body>
</html>